[run]
branch = true
source = hope_api_auth
omit =
   *migrations*
   src/hope_api_auth/version.py

[report]
fail_under = 85
ignore_errors = True
exclude_lines =
   pragma: no cover

[html]
directory = ~build/coverage
title = Validator Coverage report
